{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Q & A application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="{% static 'Q&A.png' %}" rel="shortcut icon" type="image/x-icon">
        <link href="{% static 'Q&A.png' %}" rel="apple-touch-icon">
    </head>
    <body>

            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="/"><img src="{% static 'Q&A.png' %}" style="width: 25px; height: 25px;"></a>
                      </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="/">Home</a></li>
                          <li><a href="/ask-question">Ask A Question</a></li>
                         <!-- <li><a href="#">Projects</a></li>
                          <li><a href="#">Contact</a></li>-->
                        </ul>
                        <!--<ul class="nav navbar-nav navbar-right">
                          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>-->
                      </div>
                    </div>
                  </nav>
                  <div class="container">
                        <div class="jumbotron">
                          <center><h1>Q & A site!</h1></center>      
                          <center> <h4>Recent questions - Click to view and answer:</h4></center>     
                        </div>
                       <center> <div class="content">
                                {% for question in questions %}
                                    <div class="question">
                                        <a href="/question/{{ question.qid }}/{{ question.slug }}"><h1>{{ question.question_title }}</h1></a>
                                        <p>{{ question.question_text|truncatechars:300|slice:"-4" }}...</p>
                                    </div>
                                {% endfor %}
                                </div>     </center>
                      </div>



</body>
</html>
